body {
  font-family: "Texturina", serif;
  background-color: #1a1020;
  color: whitesmoke;
  font-size: 1.4rem;
}

h1,
h2,
h3 {
  font-family: "New Rocker", cursive;
}

h3 {
  text-align: center;
}

header {
  background-color: #53131e;
  color: whitesmoke;
}

main {
  background-color: #515664;
  border: 10px;
  border-style: none ridge none ridge;
}

nav {
  border: 2px;
  border-style: none none ridge none;
}

footer {
  border: 2px;
  border-style: solid solid none solid;
  margin: 0 0.5rem;
}
.cor-secao {
  background-color: #01212c;
}

.div-pocao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px;
  border-style: outset;
  border-radius: 20px;
  background-color: #01212c;
}

.img-recuperada {
  width: 245px;
  height: 245px;
}

.cor-modal {
  background-color: #515664;
}

@media (min-width: 768px) {
  .div-pocao:hover {
    transform: scale(1.1);
    z-index: 1;
  }
}

#pocoes {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  padding: 0 !important;
}

#loja {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

#contato p {
  word-break: break-all;
}
